<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body>
<footer>
    <div class="wrapper-footer">
        <div class="location">
            <i class="fas fa-map-marker-alt"></i>
            <p>Sofia "Tsarigradsko shose" 23</p>
        </div>
        <div class="phone">

            <i class="fas fa-envelope"></i>
            <p>aesthetic.clinic888@gmail.com</p>
        </div>
        <div class="email">
            <i class="fas fa-phone"></i>
            <p>+369 888888889</p>
        </div>

    </div>
    <div class="copy">
        Copyright © 2024 All rights reserved | This template is made by Aleksandra
    </div>
</footer>
</body>
</html>