<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/reset.css}">
    <link rel="stylesheet" th:href="@{/css/header.css}">
</head>
<body>
<header>
    <div class="logo">
        <img src="/images/logo.png">
        <h1  th:text="#{header.title}"></h1>
        <form class="logout-form" sec:authorize="isAuthenticated()" th:method="Post"
              th:action="@{/logout}">

            <input th:value="#{nav.logout}" class="logout" type="submit" >



        </form>
    </div>
    <div class="switch">
        <input id="language-toggle" class="check-toggle check-toggle-round-flat" type="checkbox">
        <label for="language-toggle"></label>
        <span class="on">BG</span>
        <span class="off">EN</span>
    </div>
    <nav>
        <ul>

            <li><a th:text="#{nav.home}" th:href="@{/}"></a></li>
            <li><a th:text="#{nav.services}" th:href="@{/services}">Services</a></li>
            <li><a th:text="#{nav.prices}" th:href="@{/prices}">Prices</a></li>
            <li><a th:text="#{nav.about}" th:href="@{/about}">About us</a></li>
            <li sec:authorize="!isAuthenticated()" class="register"><a th:text="#{nav.register}"  th:href="@{/register}">Register</a></li>
            <li sec:authorize="!isAuthenticated()"  class="login"><a th:text="#{nav.login}" th:href="@{/login}">Login</a></li>

            <li sec:authorize="!hasRole('DOCTOR') and hasRole('USER')" ><a th:text="#{nav.bookConsultation}"  sec:authorize="isAuthenticated()" th:href="@{/appointment}">Book Consultation</a></li>
            <li  sec:authorize="!hasRole('DOCTOR') and hasRole('USER')" ><a th:text="#{nav.myProfile}" sec:authorize="isAuthenticated()" th:href="@{/profile}">My profile</a></li>
            <li sec:authorize="!hasRole('ADMIN') and hasRole('USER')"  ><a th:text="#{nav.mySchedule}" sec:authorize="hasAnyRole('DOCTOR')" th:href="@{/doctor-page}">My schedule</a></li>
            <li  ><a th:text="#{nav.adminPanel}" sec:authorize="hasRole('ADMIN')" th:href="@{/admin}">Admin panel</a></li>
            <li  ><a  sec:authorize="hasRole('ADMIN')" th:href="@{/admin/feedback}">Admin Feedback Panel</a></li>


        </ul>
    </nav>
</header>





</body>


</html>