

.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(44, 44, 44, 0.3)),
    url('../images/bg-img.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    opacity: 0.7;
    top: 0;
    left: 0;
    text-shadow: 1px 1px 1px rgb(80, 79, 79);
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.users {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    margin-top: 80px;
}

.users h1 {
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 3rem;
    color: white;
}

.table-wrapper {
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    max-width: 100%;
    margin-top: 20px;
    background: rgba(0, 0, 0, .9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    overflow-x: auto;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    max-width: 100%;
}

.setRole h1 {
    color: white;
    font-size: 4rem;
}

.setRole input, .setRole select {
    padding: 10px;
    border-radius: 6px;
    background-color: transparent;
    color: white;
}

.setRole select option {
    padding: 10px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, .9);
    color: white;
}

.roleForm {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 9px;
}

.text-danger {
    color: red;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}

.cancel, .approve {
    text-decoration: none;
    color: #ffffff;
    padding: 6px 12px 8px 12px;
    border-radius: 14px;
    border-width: 0;
    cursor: pointer;
    font-size: 16px;
}

.cancel {
    background-color: red;
}

.approve {
    background-color: green;
}

.cancel:hover, .approve:hover {
    background-color: white;
    border: 2px solid #0174cf;
    color: black;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    color: white;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

tr:nth-child(odd) {
    color: white;
}

.setRole {
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
    background: rgba(0, 0, 0, .9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
    gap: 10px;
}

.role-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #0174cf;
    color: white;
    width: 100px;
    text-align: center;
    padding: 4px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    margin-left: 25px;
}

.dropbtn:hover {
    background-color: white;
    color: black;
    border: 2px solid #0174cf;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 5px;
    color: black;
    margin-left: 25px;
    width: 100px;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.dropdown-content li:hover {
    background-color: #ddd;
}

.sent {
    background-color: white;
    color: green;
    padding: 10px;
    border-radius: 6px;
}

@media (max-width: 1000px) {

    h1 {
        font-size: 1.4rem;
    }
    .table-wrapper{
        width: 100%;
        padding: 20px;
    }
}

@media (max-width: 680px) {
    table {
        border: 0;
    }

    table caption {
        font-size: 1.3em;
    }

    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
        text-align: center;
    }

    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: center;
    }

    table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    table td:last-child {
        border-bottom: 0;
    }

    tr:nth-child(even) {
        background-color: transparent;
    }

    tr:nth-child(odd) {
        background-color: transparent;
    }

   table ul {
        display: unset;
    }
}



