.hero{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(44, 44, 44, 0.3)),
    url('../images/bg-img.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    min-height: 100vh;
    opacity: 0.7;
    top: 0;
    left: 0;
    text-shadow: 1px 1px 1px rgb(80, 79, 79);
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;


}


main{
    display: flex;
    align-items: center;
    justify-content: center;

}

.users{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
    margin-top: 80px;


}

.users h1{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 3rem;
    color: white;
}
.table-wrapper{
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    margin-top: 20px;
    background: rgba(0,0,0,.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;

}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;

}
.setRole h1{
    color: white;
    font-size: 4rem;
}
.setRole input{
    padding: 10px;
    border-radius: 6px;
    background-color: transparent;
    color: white;
}

.setRole select{
    padding: 10px;
    border-radius: 6px;
    background-color: transparent;
    color: white;
}
.setRole select option{
    padding: 10px;
    border-radius: 6px;
    background-color: rgba(0,0,0,.9);
    color: white;
}
.roleForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 9px;
}
.text-danger{
    color: red;
    background-color: white;
    padding: 5px;
    border-radius: 5px;

}
 .cancel{
     text-decoration: none;
     color: #ffffff;
     padding-top: 6px;
     padding-left: 12px;
     border-radius: 14px;
     padding-right: 12px;
     padding-bottom: 8px;
     background-color:  red;
     border-top-width: 0px;
     border-left-width: 0px;
     border-right-width: 0px;
     border-bottom-width: 0px;
     cursor:  pointer;
     font-size: 16px;

}



 .approve{
    text-decoration: none;
    color: #ffffff;
    padding-top: 6px;
    padding-left: 12px;
    border-radius: 14px;
    padding-right: 12px;
    padding-bottom: 8px;
    background-color:  green;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    cursor:  pointer;
    font-size: 16px;

}

 .cancel:hover{
    background-color: white; /* Променя цвета на текста на бяло */
    border: 2px solid green;; /* Добавя синьо подчертаване */
    color: black;

}
 .approve:hover{
    background-color: white; /* Променя цвета на текста на бяло */
    border: 2px solid green;; /* Добавя синьо подчертаване */
    color: black;

}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;


}
th{
    color: white;
}

tr:nth-child(even) {
    background-color: #dddddd;

}
tr:nth-child(odd) {
    color: white;
}
.setRole{
    padding-bottom: 20px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 300px;
    margin-top: 20px;
    background: rgba(0,0,0,.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    gap: 10px
}


/* Стилове за основния списък */
.role-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Стилове за дропдаун контейнера */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Стилове за бутона на дропдауна */
.dropbtn {
    background-color: #0174cf;
    color: white;
    width: 100px;
    text-align: center;
    padding: 4px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    margin-left: 25px;

}

.dropbtn:hover {
    background-color: white;
    color: black;
    border: 2px solid #0174cf;
}

/* Стилове за съдържанието на дропдауна */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px;
    color: black;
    margin-left: 25px;
    width: 100px;
}

.dropdown-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.dropdown-content li {
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

.dropdown-content li:hover {
    background-color: #ddd;
}
