.bg-img{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(44, 44, 44, 0.3)),
    url('../images/bg-img.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    max-height: 300px;
    opacity: 0.7;
    position: absolute;
    top: 0;
    left: 0;
    text-shadow: 1px 1px 1px rgb(80, 79, 79);
}
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(44, 44, 44, 0.3)),
    url('../images/bg-img.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 150px;
    opacity: 0.7;

    top: 0;
    left: 0;
    text-shadow: 1px 1px 1px rgb(80, 79, 79);
}
.contact-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;

    top: 0;
    left: 0;
}
.img-wrapper{
    width: 50%;

}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    width: 60%;

}
.contact-form h1{
    margin-bottom: 20px;

}

.form-group input,textarea {
    width: 500px
}

.contact-form {
    min-width: 25rem;

    .title {
        font-family: 'Pacifico', cursive;
        color: #212529;
        font-size: 2.5rem;
    }

    .form-control {
        background-color: #f2f6f8;
        border-radius: 2rem;
        border: none;
        box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);

        &.thick {
            height: 3.3rem;
          padding-left: 20px;
        }

        &:focus {
            background-color: #f2f6f8;
            border: none;
            box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
        }
    }

    .message .form-control {
        padding: .5rem 1.8rem;
    }

    ::placeholder {
        font-family: 'Quicksand', sans-serif;
        font-weight: 600;
        font-size: 1.1rem;
        color: #838788;
        position: relative;
        left: 0;
    }

    input,
    textarea {
        font-family: 'Quicksand', sans-serif;
        color: #212529;
        font-size: 1.1rem;
    }

    .icon {
        color: #57565c;
        height: 1.3rem;
        position: absolute;
        left: 1.5rem;
        top: 1.1rem;
    }
}

.btn.btn-primary {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    height: 2.5rem;
    line-height: 2.5rem;
    padding: 0 3rem;
    border: 0;
    border-radius: 3rem;
    background-image: linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
    background-size: 300% 100%;
    transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
    box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
    background-size: 100% 100%;
    transform: translateY(-0.15em);
}

.text-danger{
    color: red;
}

.sent{
    background-color: white;
    color: green;
    padding: 10px;
    border-radius: 6px;
}

@media (max-width: 950px) {
    .contact-container{
        flex-direction: column;
    }
    
}