@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css";
header {
    top: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    z-index: 100;
    position: sticky;
    box-shadow: 5px 5px 10px 0px #d4d4d4;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 20px;

}

header h1 {
    color: black;
    font-family: cursive
}
header .logo{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
header .logo img{

    max-width: 50px;
}



ul{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}

ul li a{
    text-decoration: none;
    color: #ffffff;
    padding-top: 8px;
    padding-left: 10px;
    border-radius: 14px;
    padding-right: 10px;
    padding-bottom: 8px;
    background-color:  #0174cf;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    cursor:  pointer;

}
nav ul li a:hover {
    background-color: white; /* Променя цвета на текста на бяло */
    border: 2px solid #0174cf;; /* Добавя синьо подчертаване */
    color: black;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.logout{
    background-color: white; /* Променя цвета на текста на бяло */
    /* Добавя синьо подчертаване */
    color: black;
    padding: 5px 7px;
    margin-left: 10px;
    text-decoration: none;
    border-radius: 14px;
    border: 2px solid #0174cf;
    cursor:  pointer;
}


.switch {
    position: relative;
    display: inline-block;
    margin: 0 5px;
}

.switch > span {
    position: absolute;
    top: 14px;
    pointer-events: none;
    font-family: 'Helvetica', Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
}

input.check-toggle-round-flat:checked ~ .off {
    color: #0174cf;
}

input.check-toggle-round-flat:checked ~ .on {
    color: #fff;
}

.switch > span.on {
    left: 0;
    padding-left: 2px;
    color: #0174cf;
}

.switch > span.off {
    right: 0;
    padding-right: 4px;
    color: #fff;
}

.check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}
.check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.check-toggle-round-flat + label {
    padding: 2px;
    width: 97px;
    height: 35px;
    background-color:#0174cf;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}
input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
}

input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #0174cf;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
}
input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;
    background-color: #fff;
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
}

input.check-toggle-round-flat:checked + label {
}

input.check-toggle-round-flat:checked + label:after {
    margin-left: 44px;
}

.hamburger {
    display: none;
    font-size: 24px;
    cursor: pointer;
}

@media (max-width: 1000px) {
    nav {
        display: none;
    }

    .hamburger {
        display: block;
    }

    nav.nav-menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 80px;
        right: 20px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 150px;
        padding: 10px;
        align-items: center; /* Центриране на елементите в мобилното меню */

    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
        width: 100%; /* Разширяване на елементите до пълната ширина на родителския елемент */
    }

    nav ul li a {

        width: 200px/* Разширяване на линковете до пълната ширина на родителския елемент */
    }
}

@media (max-width: 530px) {
    header h1 {
        color: black;
        font-family: cursive;
        font-size: 20px;
    }

 header{
     flex-direction: column;

 }

    nav.nav-menu.active {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 150px;
        right: 120px;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        width: 150px;
        padding: 10px;
        align-items: center; /* Центриране на елементите в мобилното меню */

    }
    .nav-menu{
        flex-direction: row;
    }
}