<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
    <link rel="stylesheet" th:href="@{css/aboutUs.css}">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <section class="hero">
        <h1>Welcome to <span>Aesthetic Clinic</span> - Where Beauty Meets Confidence</h1>
    </section>
    <section class="hero-info">

        <div class="wrapper-hero hero-img">
            <img src="/images/about.webp">

        </div>
        <div class="wrapper-hero info">
            <p>At <span>Aesthetic Clinic</span>, we believe that every individual deserves to feel confident in their
                own skin. Our
                clinic is not just a place for cosmetic enhancements; it's a sanctuary where we blend artistry with
                science to enhance your natural beauty.</p>
        </div>
    </section>

    <section class="our-mission">
        <div class="card">
            <div class="text_wrap">
                <h1>Our Mission</h1>
                <p>Our mission is simple: to empower you to look and feel your best. We understand that beauty is deeply
                    personal and unique to each individual. That's why we offer personalized treatment plans tailored to
                    your specific needs and goals.</p>
            </div>
            <div class="img_wrap">
                <img src="/images/mission.jpg" alt="Our Mission Image">
            </div>
        </div>
        <div class="card">
            <div class="text_wrap">
                <h1>Expertise and Innovation</h1>
                <p>Led by a team of experienced and highly-trained professionals, [Clinic Name] stays at the forefront of
                    aesthetic medicine. We combine expertise with the latest advancements in technology to deliver safe,
                    effective, and cutting-edge treatments.</p>
            </div>
            <div class="img_wrap">
                <img src="/images/doctors.jpg" alt="Expertise and Innovation Image">
            </div>
        </div>
        <div class="card">
            <div class="text_wrap">
                <h1>Comprehensive Services</h1>
                <p>Whether you're seeking subtle enhancements or dramatic transformations, we offer a wide range of services
                    to address your concerns. From injectables and laser treatments to skincare and body contouring, our
                    comprehensive services are designed to rejuvenate your appearance from head to toe.</p>
            </div>
            <div class="img_wrap">
                <img src="/images/machines.jpg" alt="Comprehensive Services Image">
            </div>
        </div>
    </section>

</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>