<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
    <link rel="stylesheet" th:href="@{css/aboutUs.css}">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <section class="hero">
        <h1  th:utext="#{welcome.message}" ></h1>
    </section>
    <section class="hero-info">

        <div class="wrapper-hero hero-img">
            <img src="/images/about.webp">

        </div>
        <div class="wrapper-hero info">
            <p th:utext="#{heroinfo.text}" ></p>
        </div>
    </section>

    <section class="our-mission">
        <div class="card">
            <div class="text_wrap">
                <h1 th:text="#{mission.title}"></h1>
                <p th:text="#{mission.text}" ></p>
            </div>
            <div class="img_wrap">
                <img src="/images/mission.jpg" alt="Our Mission Image">
            </div>
        </div>
        <div class="card">
            <div class="text_wrap">
                <h1 th:text="#{expertise.title}" >Expertise and Innovation</h1>
                <p th:text="#{expertise.text}" ></p>
            </div>
            <div class="img_wrap">
                <img src="/images/doctors.jpg" alt="Expertise and Innovation Image">
            </div>
        </div>
        <div class="card">
            <div class="text_wrap">
                <h1 th:text="#{services.about.title}" ></h1>
                <p th:text="#{services.text}" ></p>
            </div>
            <div class="img_wrap">
                <img src="/images/machines.jpg" alt="Comprehensive Services Image">
            </div>
        </div>
    </section>

</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
<script src="/js/ChangeLanguage.js"></script>
<script src="/js/ResponsiveHeader.js"></script>
</html>