<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/admin.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
    <link rel="stylesheet" th:href="@{css/appointment.css}">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <section class="hero">
        <section class="users">
            <div class="table-wrapper">
                <h1  th:text="#{admin.users}" >Users</h1>

                <table>
                    <thead>
                    <tr>
                        <th th:text="#{admin.username}" >Username</th>
                        <th th:text="#{admin.email}" >Email</th>
                        <th th:text="#{admin.roles}" >Roles</th>
                        <th th:text="#{admin.set}"  >Set</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="u : ${viewAllUsersDto.getUsers()}">
                        <!-- Форма за всеки ред -->
                            <td th:text="${u.username}" ></td>
                            <td th:text="${u.email}"></td>
                        <td>
                            <ul class="role-list">
                                <li>
                                    <div class="dropdown">
                                        <button th:text="#{admin.roles}" class="dropbtn">Roles</button>
                                        <div class="dropdown-content">
                                            <ul th:each="role : ${u.getRoleNames()}">
                                                <li th:text="${role}"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </td>
                        <td>
                            <button class="approve set-button"
                                    th:data-username="${u.username}"
                                    th:text="#{admin.set}"   th:data-email="${u.email}">Set</button>

                        </td>

                    </tr>
                    </tbody>
                </table>
            </div>
        </section>

        <section  class="setRole">
            <small class="sent"  th:text="#{admin.successfullyAssigned}"  th:if="${isSet == true}">The role has been successfully assigned!</small>
            <small th:text="#{admin.alreadyHasRole}" class="text-danger" th:if="${isSet == false}">User already has this role!</small>
            <h1 th:text="#{admin.setRole}" >Set Role</h1>
            <form  th:object="${setRoleDto}" class="roleForm" th:method="POST" th:action="@{/admin/set/role}">
                <input id="username"  th:field="*{username}" th:placeholder="#{admin.username}" name="username">
                <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></small>
                <input id="email"  th:field="*{email}"  th:placeholder="#{admin.email}" name="email">
                <small  th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></small>
                <select  name="roleType">
                    <option value="user">USER</option>
                    <option value="doctor">DOCTOR</option>
                    <option value="admin">ADMIN</option>
                </select>
                <button  th:text="#{admin.save}" id="save" class="approve" type="submit">Save</button>
            </form>

        </section>
    </section>


</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.set-button');
        buttons.forEach(button => {
            button.addEventListener('click', function () {
                const username = button.getAttribute('data-username');
                const email = button.getAttribute('data-email');
                console.log(username)
                populateForm(username, email);
            });
        });
    });

    function populateForm(username, email) {
        document.getElementById('username').value = username;
        document.getElementById('email').value = email;
    }
</script>


<script src="/js/dropDownMenu.js"></script>
<script src="/js/ChangeLanguage.js"></script>
</html>