<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/register.css}">
    <link rel="stylesheet" th:href="@{css/appointment.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">

    <link rel="stylesheet" th:href="@{css/footer.css}">


</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>

    <section class="hero">

    </section>

    <div class="login-page">
        <div class="form">
            <form th:object="${consultationDto}" th:method="POST" th:action="@{/appointment}" class="register-form"
                  method="POST">
                <div class="wrapper-available-hours">
                    <h1 th:text="#{busy.hours.title}" class="free-hours"></h1>
                    <small th:text="#{busy.hours.note}" class="text-danger"></small>
                    <table>
                        <tr>
                            <th th:text="#{consultation.table.date}"></th>
                            <th th:text="#{consultation.table.time}" ></th>
                        </tr>
                        <tr th:each="c:${busySlots.getBusySlots()}">
                            <td th:text="${c.toLocalDate()}" ></td>
                            <td th:text="${c.toLocalTime()}" ></td>
                        </tr>
                    </table>
                </div>

                <h2 th:text="#{consultation.book.title}" ></h2>
                <small class="sent" th:text="#{consultation.sent.message}" th:if="${isSend == true}"></small>
                <small th:text="#{consultation.max.message}" class="text-danger" th:if="${isSend == false}">
                </small>
                <small th:text="#{consultation.already.booked.message}"  class="text-danger" th:if="${isAlreadyBooked == true}"></small>
                <div th:each="error: ${#fields.errors()}"  th:text="${error}" class="text-danger">Error messages</div>
                <input th:field="*{date}" type="date" placeholder="Appointment Date *" required
                       oninput="checkWeekend(this)" />
                <small class="text-danger"></small>
                <input th:field="*{time}" type="time" placeholder="Appointment Time *" required/>
                <small  class="text-danger"></small>

                <button th:utext="#{consultation.send.request}" type="submit" class="btn" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Send Request
                </button>

            </form>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>

</body>

<script>
    function checkWeekend(input) {
        const selectedDate = new Date(input.value);
        const dayOfWeek = selectedDate.getDay(); // 0 (Sunday) to 6 (Saturday)

        // Проверка за събота (6) и неделя (0)
        if (dayOfWeek === 0 || dayOfWeek === 6) {
            input.setCustomValidity('Please choose a date that is not a weekend.');
        } else {
            input.setCustomValidity('');
        }
    }
</script>
</html>