<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/doctor-page.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <section class="hero">
        <section class="schedule">
            <div class="new-appointments table">
                <h1 th:text="#{doctor.newAppointments.label}" >New Appointments</h1>

                    <table>
                        <tr>
                            <th th:text="#{doctor.table.username}" >Username</th>
                            <th th:text="#{doctor.table.email}" >Email</th>
                            <th th:text="#{doctor.table.date}" >Date</th>
                            <th th:text="#{doctor.table.time}" >Time</th>
                            <th th:text="#{doctor.table.cancel}" >Cancel</th>
                            <th th:text="#{doctor.table.approve}" >Approve</th>
                        </tr>
                        <tr th:each="c: ${consultations.getConsultationDtoList()}" >
                            <td th:text="${c.username}" >Bobi</td>
                            <td th:text="${c.email}" >Bobi</td>
                            <td th:text="${c.date}">2024.07.12</td>
                            <td th:text="${c.time}">12:20</td>
                            <td><a class="cancel" th:text="#{doctor.table.cancel}" th:href="@{/doctor-page/all/cancel/{id}(id = ${c.getId()})}">Cancel</a></td>
                            <td><a class="approve" th:text="#{doctor.table.approve}" th:href="@{/doctor-page/all/approve/{id}(id = ${c.getId()})}">Approve</a></td>
                        </tr>
                    </table>

            </div>
            <div class="approved-appointments table">
                <h1 th:text="#{doctor.approvedAppointments.label}" >Approved Appointments</h1>
                <table>
                    <tr>
                        <th th:text="#{doctor.table.username}" >Username</th>
                        <th th:text="#{doctor.table.email}" >Email</th>
                        <th th:text="#{doctor.table.date}" >Date</th>
                        <th th:text="#{doctor.table.time}" >Time</th>
                        <th th:text="#{doctor.table.remove}" >Remove</th>
                    </tr>
                    <tr th:each="c: ${approvedConsultations.getConsultations()}" >
                        <td th:text="${c.username}" >Bobi</td>
                        <td th:text="${c.email}" >Bobi</td>
                        <td th:text="${c.date}">2024.07.12</td>
                        <td th:text="${c.time}">12:20</td>
                        <td>
                            <div class="wrapper-check">
                                <a  th:text="#{doctor.table.consulted}"  class="cancel consulted" th:href="@{/doctor-page/all/delete/{id}(id = ${c.getId()})}">Consulted<i class="fa-solid fa-check"></i></a>
                            </div>
                        </td>


                    </tr>
                </table>
                </table>

            </div>
        </section>
    </section>

</main>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
<script src="/js/ChangeLanguage.js"></script>
</html>