<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhysicalTherapy</title>
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/main.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">



</head>
<body >
<header th:replace="fragments/header :: header"></header>
<main>


    <section class="hero">
        <div class="hero-info">
            <h1 th:text="#{hero.heading}">
            </h1>
            <div>
                <a th:text="#{hero.contact}" th:href="@{/contact}">Contact us</a>
            </div>

        </div>

    </section>
    <section class="welcome">
        <div class="info">
            <h3 th:text="#{welcome.heading}" ></h3>
            <h1 th:text="#{welcome.subheading}" ></h1>
            <p th:text="#{welcome.paragraph}" ></p>
        </div>
        <div class="img-doctor">
            <img src="/images/doctor.jpg">

        </div>
    </section>

    <section class="offer">
        <div class="offer-info">
            <h2 th:text="#{offer.heading}"></h2>
            <h1 th:text="#{offer.title}"></h1>
        </div>

        <div class="offer-cards">
            <div>
                <i class="fas fa-syringe"></i>
                <h2 th:text="#{offer.advancedEquipment}"></h2>
                <p th:text="#{offer.advancedEquipment.description}" ></p>

            </div>
            <div>
                <i class="fas fa-briefcase-medical"></i>
                <h2 th:text="#{offer.qualifiedDoctors}" ></h2>
                <p th:text="#{offer.qualifiedDoctors.description}"></p>
            </div>
            <div>
                <i class="fas fa-file-medical-alt"></i>
                <h2 th:text="#{offer.certifiedServices}" ></h2>
                <p th:text="#{offer.certifiedServices.description}" ></p>
            </div>
            <div>
                <i class="fas fa-heartbeat"></i>
                <h2 th:text="#{offer.emergencyCare}" ></h2>
                <p th:text="#{offer.emergencyCare.description}" ></p>

            </div>

        </div>

    </section>
</main>
<footer th:replace="fragments/footer :: footer"></footer>

</body>

<script src="/js/ChangeLanguage.js"></script>
</html>