<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/login.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <section class="hero">
    </section>
        <div class="form">
            <div class="login-page">
                <div th:if="${param.error}" class="text-danger">
                    Invalid username and password.
                </div>
            <form class="login-form"     th:method="POST"
                  th:action="@{/login}">
                <h2 th:text="#{login.form.title}"></h2>
                <input name="username" type="text" th:placeholder="#{login.form.username}" required />
                <input name="password" type="password" th:placeholder="#{login.form.password}" required/>
                <button th:utext="#{login.form.button.signIn}" class="btn" type="submit">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    Sign in
                </button>
                <div class="_wrap">
                    <p th:text="#{login.form.message.notRegistered}" class="message">Not registered? </p>
                    <a class="create_account" th:text="#{login.form.message.createAccount}" th:href="@{/register}">Create an account</a>
                </div>

            </form>
        </div>
        </div>

</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
<script src="/js/ChangeLanguage.js"></script>
<script src="/js/ResponsiveHeader.js"></script>
</html>