<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
    <link rel="stylesheet" th:href="@{css/services.css}">
    <link rel="stylesheet" th:href="@{css/prices.css}">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <section class="services">
        <h1 th:text="#{prices.title}" ></h1>
    </section>


        <section th:object="${prices}"  class="prices">

            <div  class="consult">
                <p   th:text="${prices.get(0).procedureType} +' with Dr.Petrov'"></p>
                <div class="wrapper-prices">
                    <p class="price-usd" th:text="${prices.get(0).price} + ' $'">150 $</p>
                    <p class="price-eur"></p>
                </div>

            </div>
            <div class="procedures">
                <h1 th:text="#{prices.procedure}"  ></h1>
                <div class="consult" th:each="price, iterStat : ${prices}" th:if="${iterStat.index > 0}">
                    <p th:text="${price.procedureType}">Breast Augmentation</p>
                    <div class="wrapper-prices">
                        <p class="price-usd" th:text="${price.price} + ' $'">5 500 $</p>
                        <p class="price-eur"></p>
                    </div>


                </div>
            </div>

        </section>


</main>


<footer th:replace="fragments/footer :: footer"></footer>
</body>
<script src="/js/PriceInEuro.js">

</script>
<script src="/js/ChangeLanguage.js"></script>
</html>