<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/register.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/profile.css}">

    <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <section class="hero">




        <section class="profile">
            <h1 th:text="${userConsultationDto.getUsername()}">Aleksandra</h1>
            <h2  th:text="#{profile.upcoming.label}" th:if="${userConsultationDto.userConsultations.size() > 0}"></h2>
            <h2 th:text="#{profile.noUpcoming.label}" class="text-danger" th:unless="${userConsultationDto.userConsultations.size() > 0}"></h2>
            <div th:if="${message != null}">
                <h3  th:text="#{profile.cancel.success}"  class="success" th:if="${message.canceled}"></h3>
                <h3 th:text="#{profile.cancel.fail}"  class="fail" th:unless="${message.canceled}"></h3>
            </div>
            <table>
                <tr>
                    <th  th:text="#{profile.table.date}"  >Date</th>
                    <th th:text="#{profile.table.time}" >Time</th>
                    <th th:text="#{profile.table.cancel}" >Cancel</th>
                </tr>
                <tr th:each="c:${userConsultationDto.getUserConsultations()}">
                    <td th:text="${c.getDate}" >Alfreds Futterkiste</td>
                    <td th:text="${c.getTime()}" >Maria Anders</td>
                    <td><a th:text="#{profile.table.cancel}"  th:href="@{/profile/cancel/{id}(id = ${c.getId()})}">Cancel</a></td>
                </tr>
            </table>
        </section>
    </section>



</main>

<footer th:replace="fragments/footer :: footer"></footer>

</body>
<script src="/js/ChangeLanguage.js"></script>
<script src="/js/ResponsiveHeader.js"></script>
</html>