<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/register.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <section class="hero">
    </section>
    <div class="login-page">
        <div th:object="${registerDto}" class="form">
            <form class="register-form" th:action="@{/register}" th:method="POST">
                <h2 th:text="#{register.form.title}" >Register</h2>
                <input th:field="*{fullName}" name="fullName" type="text"  th:placeholder="#{register.form.fullName}" required/>
                <small th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}" class="text-danger"></small>
                <input th:field="*{username}"  name="username" type="text" th:placeholder="#{register.form.username}" required/>
                <small th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></small>
                <input th:field="*{email}"  name="email" type="email" th:placeholder="#{register.form.email}"  required/>
                <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></small>
                <input th:field="*{password}"  name="password" type="password"  th:placeholder="#{register.form.password}" required/>
                <small th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></small>
                <input th:field="*{confirmPassword}"  name="confirmPassword" type="password" th:placeholder="#{register.form.confirmPassword}"required/>
                <small th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}" class="text-danger"></small>
                <button th:utext="#{register.form.button.create}" type="submit" class="btn" href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                   Register
                </button>
                <div class="wrap_">
                    <p th:utext="#{register.form.message.alreadyRegistered}" class="message">Already registered?
                    </p>
                    <a th:text="#{register.form.message.signIn}" th:href="@{/login}">Sign In</a>
                </div>

            </form>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>