<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{css/reset.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/services.css}">
    <link rel="stylesheet" th:href="@{css/footer.css}">

    <script src="/js/changeCard.js"></script>

</head>
<body>
<header th:replace="fragments/header :: header"></header>
<main>
    <section class="services">
        <h1 th:text="#{services.title}" ></h1>
    </section>
    <div class="check-procedure">


            <div class="card breast">
                <h1 th:text="#{services.breast.title}" ></h1>
                <p th:text="#{services.breast.description}" ></p>
                <div th:text="#{services.breast.learnMore}" class="more-info-btn"><a></a></div>
            </div>



            <div class="card lips">
                <h1 th:text="#{services.lipofilling.title}" ></h1>
                <p th:text="#{services.lipofilling.description}" ></p>
                <div th:text="#{services.lipofilling.learnMore}" class="more-info-btn"><a>Learn more</a></div>
            </div>


            <div class="card face">
                <h1 th:text="#{services.faceLifting.title}" >Face Lifting</h1>
                <p th:text="#{services.faceLifting.description}" ></p>
                <div th:text="#{services.faceLifting.learnMore}" class="more-info-btn"><a>Learn more</a></div>
            </div>


            <div class="card rhinoplasty">
                <h1 th:text="#{services.rhinoplasty.title}" >Rhinoplasty</h1>
                <p th:text="#{services.rhinoplasty.description}" ></p>
                <div th:text="#{services.rhinoplasty.learnMore}" class="more-info-btn"><a>Learn more</a></div>
            </div>


            <div class="card liposuction">
                <h1 th:text="#{services.liposuction.title}" >Liposuction</h1>
                <p th:text="#{services.liposuction.description}"  ></p>
                <div th:text="#{services.liposuction.learnMore}" class="more-info-btn"><a>Learn more</a></div>
            </div>


    </div>


</main>
<footer th:replace="fragments/footer :: footer"></footer>

</body>
<script src="/js/ChangeLanguage.js"></script>
</html>